:root {
  --body-font: 'Source Sans Pro', serif;
  --heading-font: 'Kumbh Sans', sans-serif;

  --blue-color: #3f38dd;
  --red-color: #ff122d;
  --orange-color: #ffbe48;
  --green-color: #00ba8e;
  --dark-blue-color: #2d294e;
  --grey-color: #c4c3cc;
  --white-color: #f9f9fa;

  --small-transition: 0.2s ease;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--white-color);
  color: var(--dark-blue-color);
  font-family: var(--body-font);
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0;
  width: 100%;
}

/* reset */
button {
  background: none;
  border: none;
  font-family: var(--heading-font);
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* typgraphy */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  margin: 0;
}

p {
  margin-bottom: 0px;
}

/* header */

.header {
  align-items: center;
  background-color: var(--white-color);
  display: flex;
  height: 10vh;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header .header-logo {
  width: 2rem;
}

.header .header-text {
  font-family: 'Syne', sans-serif;
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin-left: 1rem;
  text-transform: uppercase;
}

.header-button {
  cursor: pointer;
  height: 12px;
  margin-left: auto;
  outline: none;
  position: relative;
  width: 20px;
}

.header-button span {
  background: var(--dark-blue-color);
  height: 2px;
  left: 0;
  pointer-events: none;
  position: absolute;
  opacity: 1;
  transform: rotate(0deg);
  transition: var(--small-transition);
  width: 100%;
}

.header-button span:nth-child(1) {
  top: 0px;
}

.header-button span:nth-child(2),
.header-button span:nth-child(3) {
  top: 50%;
}

.header-button span:nth-child(4) {
  top: 100%;
}

.header-button.open span:nth-child(1),
.header-button.open span:nth-child(4) {
  left: 50%;
  top: 50%;
  width: 0%;
}

.header-button.open span:nth-child(2) {
  transform: rotate(45deg);
}

.header-button.open span:nth-child(3) {
  transform: rotate(-45deg);
}

/* container */

.container {
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-areas:
    ' . intro . '
    ' . work . '
    ' . skills . '
    ' . contact . ';
  padding-top: 10vh;
}

.container section {
  margin-bottom: 2rem;
}

.section-heading {
  height: 3rem;
  position: sticky;
  top: 10vh;
  width: 100%;
  z-index: 50;
}

.section-heading--text {
  align-items: center;
  background: var(--white-color);
  display: flex;
  height: 3rem;
  text-transform: uppercase;
  width: 100%;
}

.section-heading--text::before {
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  top: 0.25rem;
  width: 40px;
}

.section-heading .fixed {
  position: fixed;
}

/* intro */

.intro {
  grid-area: intro;
}

.intro-heading::before {
  background: var(--blue-color);
}

.intro-text {
  font-weight: 400;
  line-height: 3.5rem;
  position: relative;
}

.intro-text span {
  display: block;
}

.intro-text span:nth-child(2),
.intro-text span:nth-child(3) {
  font-weight: bold;
}

.intro-trigger {
  align-items: center;
  background: var(--blue-color);
  color: var(--white-color);
  display: flex;
  height: 3.5rem;
  padding: 0rem 1.5rem;
  margin-top: 0.75rem;
}

/* work */

.work {
  grid-area: work;
}

.work-heading::before {
  background: var(--red-color);
}

.work-item {
  background: var(--red-color);
  display: flex;
  flex-direction: column;
  height: 15rem;
  justify-content: flex-end;
  margin: 1.5rem 0;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  width: 100%;
}

.work-item:last-child,
.skill-item:last-child {
  margin-bottom: 0;
}

.work-item--title,
.work-item--sub {
  color: var(--white-color);
  z-index: 20;
}

.work-item--title {
  letter-spacing: 3px;
  text-transform: uppercase;
}

.work-item--image {
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(1.5);
  transition: var(--small-transition);
  width: 100%;
  z-index: 10;
}

.work-item:hover .work-item--image {
  transform: scale(1.75);
}

/* skills */

.skills {
  grid-area: skills;
}

.skills-heading::before {
  background: var(--green-color);
}

.skill-item {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 0;
}

.skill-item i {
  font-size: 3rem;
}

.skill-item--title {
  margin: auto;
  position: relative;
  text-transform: uppercase;
}

.skill-item--title::after {
  background: var(--grey-color);
  bottom: -0.8rem;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  width: 100%;
}

.skill-item--text {
  line-height: 1.75rem;
}

.skill-item--list {
  margin-top: 1.5rem;
}

.skill-item--point {
  padding-bottom: 1rem;
}

.skill-item--point i {
  color: var(--grey-color);
  font-size: 1rem;
  margin-right: 1rem;
}

/* contact */

.contact {
  grid-area: contact;
}

.contact-heading::before {
  background: var(--orange-color);
}

.contact-social {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0 4rem;
}

.contact-social--media {
  font-size: 2rem;
}