:root {
  --body-font: 'Source Sans Pro', serif;
  --heading-font: 'Kumbh Sans', sans-serif;

  --blue-color: #3f38dd;
  --dark-blue-color: #2d294e;
  --grey-color: #c4c3cc;
  --white-color: #f9f9fa;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--white-color);
  color: var(--dark-blue-color);
  font-family: var(--body-font);
  font-size: 15px;
  margin: 0;
  width: 100%;
}

/* header */

.header {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
  width: 100%;
}

.header .header-logo {
  width: 2rem;
}

.header .header-text {
  font-family: 'Syne', sans-serif;
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin-left: 1rem;
  text-transform: uppercase;
}
